@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Jacquard+24&display=swap');

.agbalumo-regular {
    font-family: "Agbalumo", system-ui;
    font-weight: 10px;
    font-style: normal;
  }
  